.parent{
  position:relative;
  height: auto;
  border: 1px solid #666;
  background-color: teal;
}

.title_comp{
  background-color: white;
  border: 1px solid #666;
  top: auto;
  left: auto;
}

.arch_comp{
  background-color: white;
  border: 1px solid #666;
  top: auto;
  left: auto;

}

.arch_comp h1{
  color: black;
}

h1{
  color: white;
  text-align: center;
}

h2{
  color: black;
  text-align: center;
}

h3{
  color: black;
  text-align: center;
}

#arch_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: 80%
}

.button {
  border: none;
  padding: 15px 32px;
  background-color: teal;
  text-align: center;
  color:white;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

footer h3{
  color:white;
}

h1,h2,h3,p{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}