<head>
  <link rel="stylesheet" href="test.css">
</head>
<body>
<div class="architecture_div">
    <div class = "intro">
      <h1 class = "intro_comp"> Smart PDF Assistant</h1>
      <h1 class="intro_comp">Welcome to the Smart PDF Assistant.</h1>
      <h1 class = "intro_comp"><button routerLink="/chatbot">Click to try it out!!</button></h1>
    </div>
    <div class = "arch">
      <h1 class = "title"> Architecture of the system</h1>  
      <img src="assets/SupportBot.png" alt = "Architecture of the System" align=center>
    </div>
</div>
</body>
