<head>
  <link rel="stylesheet" href="t1.css">
</head>
<body>
  <div class = "parent">
      <header>
          <h1>Smart PDF Assistant</h1>

      </header>
      <section>
          <div class = "title_comp">
              <h2>Welcome to Smart PDF Assistant</h2>
              <p>
                  <h3>Too tired to search a whole document for your queries?</h3>
                  <h3>Want a simpler way out?</h3>
                  <h3>You are at the right place. Upload your document and ask your queries to the chatbot to get them answered.</h3>
                  <h3><button routerLink="/chatbot" class = "button" >Click to try it out!!</button></h3>
              </p>

          </div>
          <div class = "arch_comp">
              <h1 class = "title"> Architecture of the system</h1>  
              <img src="assets/SupportBot.png" alt = "Architecture of the System" id = "arch_img">
          </div>
      </section>
      <footer>
          <h3></h3>
      </footer>
  </div>
</body>

