.parent{
  position: relative;
}
.architecture_div{
  position: absolute;
  top: 0;
  left: 0;
}

body {
background-image: url("assets/gray.jpg");
}

img {
display: block;
margin-left: auto;
margin-right: auto;
width: 80%;
}

.title{
background-color: lightgrey;
color: blue;
text-align: center;
}

.intro{
background-image: url("assets/maroon.jpg");
width: 1000px;
border: 15px solid green;
padding: 50px;
margin: 20px;
}

.intro_comp{
text-align: center;
}